extends base 
block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Forget Password
            form.forgetpassword
                .form__group
                    label.form__label(for='email') Email address
                    input#email2.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--green submit
                